<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>Page etudiant</h1>
		<ul>
			<li>{{nom}}</li>
			<li>age:{{age}}</li>
		</ul>

		<h2>competences</h2>
		<ul>
			{% for competences in competences%}
				<li>{{competences}}</li>
			{% endfor %}

		</ul>

	</body>
</html></body></html>
